<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
  <property key="locale" value="en_US"/>
  <property key="viewStatusBar" value="true"/>
  <property key="viewToolBar" value="true"/>
  <property key="maxRecentFiles" value="10"/>
  <property key="recentFile" value="C:\Users\nickm\Desktop\Code\Game Boy Advance\Mother 1+2 VWF\Graphics Patch\m12vwf.gba"/>
  <property key="recentFile" value="C:\Users\nickm\Desktop\Code\Game Boy Advance\Super Block Jump Demake\files\heartlib\sbj.gba"/>
  <property key="recentFile" value="C:\Users\nickm\Desktop\Code\Game Boy Advance\Mother 1+2 VWF\Graphics Patch\m2a2.gba"/>
  <property key="recentFile" value="C:\Users\nickm\Desktop\Code\Game Boy Advance\Mother 1+2 VWF\Graphics Patch\m2a1.gba"/>
  <property key="recentFile" value="C:\Users\nickm\Desktop\Code\Game Boy Advance\Mother 1+2 VWF\Graphics Patch\Mother 1+2 VWF.gba"/>
  <property key="recentFile" value="C:\Users\nickm\Desktop\Code\Game Boy Advance\Mother 1+2 VWF\Mother 1\m12.gba"/>
  <property key="recentFile" value="C:\Users\nickm\Desktop\Code\Game Boy Advance\Mother 1+2 VWF\Graphics Patch\m12fresh.gba"/>
</settings>
